/.metadata/
*.DS_Store*
/.recommenders/*
*.idea
*__pycache__
PlayerDesktop/ludii.trial
*.iml
/bin/
*/.settings/*

**/build/
**/*.dex
**/.gradle

Trials/
**/target/*
**/dependency-reduced-pom.xml
**/nbactions.xml
