/.metadata/
*.DS_Store*
/.recommenders/*
*.idea
*__pycache__
PlayerDesktop/ludii.trial
*.iml
/bin/
*/.settings/*

**/build/
**/*.dex
**/.gradle

Trials/

PlayerDesktop/src/app/display/dialogs/visual_editor/recs/tmp
PlayerDesktop/src/app/display/dialogs/visual_editor/resources/recs/documents.txt
